 @import url('https://fonts.googleapis.com/css?family=Caveat:400,700');

 body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    flex-direction: column;
    color: #303952;
    min-height: 100vh;
}

.container {
    max-width: 768px;
}

header.desktop {
    display: flex;
    flex-direction: column;
    background-color: #000;
    background-image: url('/assets/images/header.jpg');
    background-position: top center;
    background-size: cover;
    position: relative;
}

header a,
header a:hover,
header a:focus {
    color: #fff;
    text-decoration: none;
}

.brand {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 375px;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, .4);
    user-select: none;
    color: #4abdac;
}

.brand a {
    color: #4abdac;
    transition: all ease 150ms;
}

.brand .sitename {
    font-family: Caveat;
    font-weight: 700;
    font-size: 7rem;
    max-width: 780px;
    margin: auto;
    border-bottom: 2px solid #4abdac;
    line-height: 1;
}

.brand .phrase {
    color: #fff;
    font-size: 2rem;
}

.top-nav,
.bot-nav {
    display: flex;
    align-items: center;
}

.top-nav {
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    padding: 5px 0;
}

.bot-nav {
    background-color: #4abdac;
    padding: 15px 0;
}

.top-nav ul,
.bot-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-nav ul {
    margin-left: auto;
}

.bot-nav ul {
    margin: auto;
}

.top-nav ul li {
    display: block;
    margin-right: 20px;
}

.top-nav ul li a:hover {
    color: #f7b733;
}

.bot-nav ul li {
    position: relative;
    padding: 0 15px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    white-space: nowrap;
}

.bot-nav ul li a {
    padding: 5px 10px; 
    border-radius: 4px;
    transition: all ease 150ms;
}

.bot-nav ul li a:hover {
    background-color: rgba(255, 255, 255, .4);
}

.bot-nav ul li a.selected:after {
    content: '';
    color: #f7b733;
    border-bottom: 4px solid;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -15px;
}

.bot-nav ul li:last-child {
    border: 0;
}

.top-nav ul li .fa-envelope {
    position: relative;
    top: 2px;
}

footer {
    background-color: #090809;
    padding: 30px 0;
    text-align: center;
}

footer a {
    color: #4abdac;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    text-decoration: none;
    color: #fff;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: #4abdac;
    font-weight: 600;
    font-family: Caveat;
    text-align: center;
}

.media {
    margin-bottom: 1.5rem;
}

.media-icon,
.media-pic {
    width: 150px;
    height: 150px;
    border: 6px solid #8bd5ca;
    border-radius: 50%;
    overflow: hidden;
    align-self: center;
}

.media-icon {
    display: flex;
    align-items: center;
    background-color: #4abdac;
    color: rgba(255, 255, 255, .6);
    font-size: 5.5rem;
    position: relative;
}

.media-pic.right,
.media-icon.right {
    margin-left: 1.5rem;
}

.media-pic.left,
.media-icon.left {
    margin-right: 1.5rem;
}

.icon-wrapper {
    position: absolute;
    width: 200px;
    left: calc(50% - 100px);
    text-align: center;
}

.fa-li .fas {
    color: #f7b733;
}

.bg-std {
    background-color: #fff;
    background-image: url('/assets/images/absurdity.png');
    background-position: left bottom;
}

.radius-std {
    border-radius: 5px;
}

.btn-std {
    color: #fff;
    background-color: #f7b733;
    transition: all ease 150ms;
    min-width: 200px;
}

.btn-std:hover {
    color: #fff;
    background-color: #fad78f;
}

hr {
    border-width: 2px;
    border-color: #fad78f;
    width: 80%;
    max-width: 500px;
}

.no-border {
    border: 0;
}

.text-yellow {
    color: #f7b733
}

.rates {
    border-width: 3px;
    border-color: #4abdac;
}

.rates thead {
    color: #fff;
    background-color: #4abdac;
}

.rates thead th {
    border-color: #8bd5ca;
}

.info-icon {
    font-size: 1.8rem;
}

// Mobile navbar
header.mobile {
    .mobile-header {
        display: flex;
        background-color: #4abdac;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .mobile-brand { 
        flex: 1;
        font-family: Caveat;
        font-weight: 700;
        font-size: 2rem;
    }

    #nav-button {
        font-size: 1.5rem;
        color: #fff;
        margin: auto;
    }

    #mobile-nav {
        display: none;
        background-color: #8bd5ca;
        transition: height 150ms ease;
    }

    #mobile-nav.is-open {
        display: block;
    }

    #mobile-nav ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        flex-direction: column; 
    }

    #mobile-nav ul li {
        padding: 10px 15px;
    }

    #mobile-nav ul li.selected {
        background-color: #f7b733;
        font-weight: 700;
    }

    #mobile-nav ul li:hover {
        background-color: #fad78f;
    }
}

@media screen and (max-width: 768px) {
    .media {
        margin-bottom: 3rem;
        display: block;
    }

    .media .media-pic {
        display: block;
    }

    .media .media-icon,
    .media .media-pic {
        margin: auto auto 1.5rem auto !important;
    }

    .fa-ul {
        margin-left: 1.5em;
    }

    .fa-li {
        left: -1.5em;
        width: auto;
    }
}